
<div class="profile-heading">
	<%= image_tag @user.avatar(:thumb) %>
	<h1> <%= @user.username %> </h1>
	<p><%= @user.description %></p>
</div>


<div id="map-canvas"></div>

<% if @user.status == 'business' %>
<div class="profile-info">
	<p><%= @user.address %></p>
	<p><%= @user.city %> </p>
	<p>Hours: <%= @user.hours %></p>
</div>
	<h3>Recent Posts:</h3>
		<div class="allblocks">
			<% @user.events.reverse_each do |event| %>
				<div class="panel-block">
					<div class="panel-heading">
						<h3><%= link_to event.user.username, profile_path(event.user) %></h3>
					</div>
					<div class="panel-body">
						<div class="panel-image">
							<%= image_tag event.image(:thumb) %><br>
						</div>
						<h4><%= event.message %></h4>
						<%= link_to "More info", event_path(event) %><br>

						<% if current_user.likes?(event) %>
 							<%= link_to "Unlike", event_like_path(event), method: :delete %> |
						<% else %>
							<%= link_to "Like", event_like_path(event), method: :post %> |
						<% end %>

						<%= event.likes.count %> Users like this<br>

					</div>
				</div>
			<% end %>
		</div>
<% end %>
<% if @user.status == 'customer' %>
	<h3>Recent Favorites:</h3>
		<div class="allblocks">
			<% @user.likes.reverse_each do |like| %>
				<div class="panel-block">
					<div class="panel-heading">
						<h3><%= link_to like.event.user.username, profile_path(like.event.user) %></h3>
					</div>
					<div class="panel-body">
						<div class="panel-image">
							<%= image_tag like.event.image(:thumb) %><br>
						</div>
						<h4><%= like.event.message %></h4>
						<%= link_to "More info", event_path(like.event) %><br>

						<% if current_user.likes?(like.event) %>
 							<%= link_to "Unlike", event_like_path(like.event), method: :delete %> |
						<% else %>
							<%= link_to "Like", event_like_path(like.event), method: :post %> |
						<% end %>

						<%= like.event.likes.count %> Users like this<br>

					</div>
				</div>
			<% end %>
		</div>
<% end %>

<% if current_user.id == @user.id %>
<%= link_to "Edit my profile", edit_user_registration_path %>
<% end %>